BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
SeparateDefinitionBlocks: Always
BreakBeforeBraces: Attach
ColumnLimit: 80
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: Always